body{
	margin:0;
}

.box{
	height: 100px;
}

.amarillo{
	background-color: yellow;
}	

.rojo{background-color: red;
}

.boton {
	margin: 20px;
	border: 2px solid #5F0656;
	background-color: #EDB9E5;
	font-family: cursive;
	font-size: 20px;
}


